# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
import pandas as pd
import numpy as np

In [2]:
#load file 
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-05-03 16:08:13--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 52.25.23.92, 52.37.66.6, 54.71.0.232
Connecting to resources.lendingclub.com (resources.lendingclub.com)|52.25.23.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [        <=>         ]  22.04M  1.96MB/s    in 12s

2020-05-03 16:08:27 (1.77 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23108433]

In [3]:
#unzip
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [16]:
#load dataframe
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2)

df.tail(10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

        id  member_id  ...  settlement_percentage  settlement_term
128402 NaN        NaN  ...                    NaN              NaN
128403 NaN        NaN  ...                    NaN              NaN
128404 NaN        NaN  ...                    NaN              NaN
128405 NaN        NaN  ...                    NaN              NaN
128406 NaN        NaN  ...                    NaN              NaN
128407 NaN        NaN  ...                    NaN              NaN
128408 NaN        NaN  ...                    NaN              NaN
128409 NaN        NaN  ...                    NaN              NaN
128410 NaN        NaN  ...                    NaN              NaN
128411 NaN        NaN  ...                    NaN              NaN

[10 rows x 144 columns]

In [5]:
#Convert the term column from string to integer
df['term'][5]

' 36 months'

In [0]:
term_str = ' 24 months'

In [7]:
int(term_str.strip().strip(' months'))

24

In [0]:
def term_to_int(term_str):
  return int(term_str.strip().strip(' months'))

In [0]:
df['term'] = df['term'].apply(term_to_int)

In [10]:
df['term']

0         36
1         36
2         60
3         36
4         36
          ..
128407    36
128408    36
128409    36
128410    36
128411    36
Name: term, Length: 128412, dtype: int64


- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

In [13]:
df['loan_status']

0          Fully Paid
1          Fully Paid
2             Current
3             Current
4             Current
             ...
128407    Charged Off
128408        Current
128409        Current
128410        Current
128411        Current
Name: loan_status, Length: 128412, dtype: object

In [36]:
example_status = ['Current', 'Fully Paid', 'Test']
example_status

['Current', 'Fully Paid', 'Test']

In [0]:
def status_check(status):
  if (status) in ('Current', "Fully Paid"):
    return 1
  else:
    return 0

In [57]:
[status_check(example) for example in example_status]

[1, 1, 0]

In [58]:
df['loan_status'].apply(status_check)

0         1
1         1
2         1
3         1
4         1
         ..
128407    0
128408    1
128409    1
128410    1
128411    1
Name: loan_status, Length: 128412, dtype: int64

Make last_pymnt_d_month and last_pymnt_d_year columns

In [92]:

# [col for col in df if col.endswith('_d')]
[col for col in df if col.has('%')]

AttributeError: ignored

In [66]:
df['last_pymnt_d'].head(10)

0    Aug-2019
1    Jul-2019
2    Apr-2020
3    Apr-2020
4    Apr-2020
5    Apr-2020
6    Apr-2020
7    Feb-2020
8    Apr-2020
9    Apr-2020
Name: last_pymnt_d, dtype: object

In [71]:
#from object to datetime
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'],infer_datetime_format=True)
df['last_pymnt_d'].head(10)

0   2019-08-01
1   2019-07-01
2   2020-04-01
3   2020-04-01
4   2020-04-01
5   2020-04-01
6   2020-04-01
7   2020-02-01
8   2020-04-01
9   2020-04-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [85]:
# grabbing month
# creating last_pymnt_d_month
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_month'].head(10)

0    8.0
1    7.0
2    4.0
3    4.0
4    4.0
5    4.0
6    4.0
7    2.0
8    4.0
9    4.0
Name: last_pymnt_d_month, dtype: float64

In [89]:
# last_pymnt_d_year grabbing year
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year
df['last_pymnt_d_year'].head(10)

0    2019.0
1    2019.0
2    2020.0
3    2020.0
4    2020.0
5    2020.0
6    2020.0
7    2020.0
8    2020.0
9    2020.0
Name: last_pymnt_d_year, dtype: float64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01